<!DOCTYPE html>

<html>
    
<head>
<title>About</title>
 <link rel="stylesheet" href="./css/style.css">
 <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
    {{>headers}}
    
    {{!-- <img class= "portrait" src="./img/robot.png"> --}}
    </div>
    <div class="main-content">
    <details>
        <summary>Weather Application</summary>
        <p>Weather is the mix of events that happen each day in our atmosphere.</p>
    </details>
        <br>
    </div>
    {{>footer}}
</body>


</html>