<!DOCTYPE html>

<html>
    
<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
    {{>headers}}
    <p>{{helpText}}</p>

    </div>
     <a href="https://weather.com/weather/" target="_blank"> 
            <p> Please click below to check weather details</p> 
            
            </a>
        

    <!-- </div> -->
    <aside class="info">
        <p>
            Email : inquiry@weather1.com<br>
            Phone : +11111111111<br>
            Address: 123, New Ark, Delaware,19720.<br>
            www.weather1.com
        </p>
    </aside>
    {{>footer}}
</body>


</html>