/* .float-right {
    margin: 0 0 2% 2%;
}

.float-left {
    margin: 0 2% 2% 0;
}

#page-wrapper { 
    width: 70%;
    margin: 0 auto; /* 0 top and bottom, auto left and right */
    /* }

.clear-float {
    clear: both; 
    }

.responsive {
        width: 100%;
        height: auto;
    }
    
.float {
        float: right;
    } */
   